<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.audiobookstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FantasyActivity"
            android:label="Fantasy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FullLibraryActivity"
            android:label="Full Library"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HorrorActivity"
            android:label="Horror"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlayingActivity"
            android:label="Now Playing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScifiActivity"
            android:label="SciFi"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>